*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body{
  overflow-x:hidden;
}

/* navbar  */
/* .nav-link{
    text-decoration: none;
    color: white !important;
    border-bottom:0.5px solid white !important;
    transition: 0.5s;
    transition-property: box-shadow;
}

.nav-link:hover{
    color: #C5DFF8!important;
    box-shadow: 0 0 5px rgb(0,140,255),
                0 0 25px rgb(0,140,255),
                0 0 50px rgb(0,140,255),
                0 0 100px rgb(0,140,255);
} */

.nav-link {
    font-size: 17px;
    background: transparent;
    border: none;
    padding: 1em 1.5em;
    color: #ffedd3;
    text-transform: uppercase;
    position: relative;
    transition: .5s ease;
  }
  
  .nav-link::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 2px;
    width: 0;
    background-color: #DEBACE;
    transition: .5s ease;
  }
  
  .nav-link:hover {
    color: #1e1e2b;
    transition-delay: .3s;
  }
  
  .nav-link:hover::before {
    width: 100%;
  }
  
  .nav-link::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 0;
    width: 100%;
    background-color: #DEBACE;
    transition: .4s ease;
    z-index: -1;
  }
  
  .nav-link:hover::after {
    height: 100%;
    transition-delay: 0.4s;
    color: aliceblue;
  }

.navbar{
    background-color: #7F669D !important;
}

.logo{
    width: 7rem;
}

/* home page  */
.home{
  background: rgb(52,36,101);
background: linear-gradient(0deg, rgba(52,36,101,1) 0%, rgba(127,102,157,1) 71%);
  height: 100vh; 
}

/* footer  */
.socials {
    width: 14rem;
    display: flex;
    justify-content: space-between;
}


.copyright {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: rgb(0, 0, 0);
}


.bottom{
    border:2px solid black!important;
}