  @import url('https://fonts.googleapis.com/css2?family=Bacasime+Antique&display=swap');
*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body{
  overflow-x:hidden;
  
}


.nav-link {
    font-size: 17px;
    background: transparent;
    border: none;
    padding: 1em 1.5em;
    color: white;
    text-transform: uppercase;
    position: relative;
    transition: .3s ease;
  }
  
  .nav-link::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 2px;
    width: 0;
    background-color: #E1ECC8;
    transition: .3s ease;
  }
  
  .nav-link:hover {
    color:#E1ECC8;
    transition-delay: .3s;
  }
  
  .nav-link:hover::before {
    width: 100%;
  }
  
  .nav-link::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 0;
    width: 100%;
    background-color: #E1ECC8;
    transition: .3s ease;
    z-index: -1;
  }
  
  .nav-link:hover::after {
    height: 100%;
    transition-delay: 0.3s;
    color: #F7FFE5;
  }

.navbar{
    background-color: #A0C49D !important;
}

.logo{
    width: 7rem;
}

/* home page  */
.home{
  background: #C4D7B2;
  height: 70vh; 
}

/* footer  */
.socials {
  padding-top: 10px;
    width: 14rem;
    display: flex;
    justify-content: space-between;
}

.link{
  padding: 7px;
  border-radius: 50%;
}

.link:hover{
  background-color: #E1ECC8;
}

.footer{
  background-color: #A0C49D;
}
.copyright {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: rgb(0, 0, 0);
}


.bottom{
    border:2px solid black!important;
}